div#article
    if result.length == 0
        tr
            td 没有搜索到任何内容
    else
        table(data-toggle="table")
            thead
                tr
                    th 文章标题
                    th 作者
            tbody
                each article in result
                    tr
                        td(style="text-align: left;")
                            a(href='http://www.jianshu.com' + '#{article.articleHref}') #{article.title}
                        td
                            a(href='http://www.jianshu.com' + '#{article.authorHref}') #{article.author}