extends layout

block content
    block header
        table
            th
                tr
                    td
                        a(href='/') 首页
                    td
                        a(href='/article') 文章列表
                    td
                        a(href='/author') 作者
        hr
    div#article
        table
            thead
                tr
                    td 文章标题
                    td 作者
            tbody
                each article in articles
                    tr
                        td(style="text-align: left;")
                            a(href='http://www.jianshu.com' + '#{article.articleHref}') #{article.title}
                        td
                            a(href='http://www.jianshu.com' + '#{article.authorHref}') #{article.author}