table
    th
        tr
            td
                a(href='/') 首页
            td
                a(href='/article') 文章
            td
                a(href='/user') 作者
            td
                a(href='/collections') 专题
            td
                a(href='/search') 搜索
hr