extends layout

block content
  div
    a(class='nav' href='') 热门
    a(class='nav' href='') 新上榜
  div
    table
      thead
        tr
          td 文章标题
          td 作者
          td 链接
      tbody
        case showPage
          when 0
            each article in articleTitle
              tr
                td #{article.articleTitle}
                td #{article.author}
                td
                  a(href='#{article.href}') #{article.href}
          when 1
            tr
              td 1
              td 2
              td 3
          default
            tr
              td 0
              td 0
              td 0
