extends layout

block content
  div
    a(href='/') Home
  div
    table
      thead
        tr
          td 文章标题
          td 作者
      tbody
        each article in articles
          tr
            td
              a(href='http://www.jianshu.com' + '#{article.articleHref}') #{article.title}
            td
              a(href='http://www.jianshu.com' + '#{article.authorHref}') #{article.author}