doctype html
html
    head
        title 简书爬虫
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(type='text/javascript', src="http://code.jquery.com/jquery-1.9.1.min.js")
        script(type='text/javascript', src="http://code.highcharts.com/highcharts.js")
        script(type='text/javascript', src="http://code.highcharts.com/modules/exporting.js")
    body
        block content
