doctype html
html
    head
        title 简书爬虫
        link(rel='stylesheet', href='/css/bootstrap.min.css', media="screen")
        link(rel='stylesheet', href='/css/bootstrap-table.min.css', media="screen")
        script(type='text/javascript', src="http://code.jquery.com/jquery-1.11.1.min.js")
        script(type='text/javascript', src="http://code.highcharts.com/highcharts.js")
        script(type='text/javascript', src="http://code.highcharts.com/modules/exporting.js")
        script(type='text/javascript', src='js/bootstrap.min.js')
        script(type='text/javascript', src='js/bootstrap-table.min.js')
    body
        block content
