extends layout

block content
    include header
    form(action='/search', method='post')
        select(name='searchType')
            option(value='article', selected= searchType == 'article') 文章
            option(value='author', selected= searchType == 'author') 作者
        if result == null
            input(name='searchContent', value='', placeholder='请输入搜索内容')
        else
            input(name='searchContent', value='#{searchContent}')
        button(type='submit') 搜索
    if result==null
        p 请设置搜索内容
    else
        p
            if searchType == 'article'
                include articleList
            else
                include userList