div#user
    if result.length == 0
        tr
            td 没有搜索到任何内容
    else
        table(data-toggle="table")
            thead
                tr
                    th 作者
                    th 收获喜欢
                    th 粉丝
            tbody
                each user in result
                    tr
                        td
                            a(href='http://www.jianshu.com' + '#{user.id}') #{user.author}
                        td
                            span #{user.favorite}
                        td
                            span #{user.follower}