body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #76d04b;
}

thead {
  color: #F097F0;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.nav {
  color: #4F4D3F;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}

td {
    text-align: center;
}
